[workspace]
channels = ["https://prefix.dev/conda-forge"]
name = "FANS"
platforms = ["linux-64", "osx-64", "osx-arm64"]
preview = ["pixi-build"]

[dependencies]
FANS = { path = "." }
python = ">=3.13.5,<3.14"
pytest = ">=8.4.1,<9"
pre-commit = ">=4.2.0,<5"
sympy = ">=1.14.0,<2"
quaternion = ">=2024.0.8,<2025"
beartype = ">=0.21.0,<0.22"
ipykernel = ">=6.29.5,<7"


[pypi-dependencies]
fans-dashboard = { path = "FANS_Dashboard", editable = true }
msutils = {git = "https://github.com/DataAnalyticsEngineering/MSUtils.git"}
pyrecest = {git = "https://github.com/FlorianPfaff/pyRecEst.git"}


[tasks]
test = { cmd = "pytest -v -s" }
test_all = { cmd = "pytest -v -s --from-pixi", cwd = "test/pytest", depends-on = ["test-fans"] }
precommit = "pre-commit run --all-files"
h52xdmf = { args = ["file"], cmd = "cd \"$INIT_CWD\" && python -m fans_dashboard.plotting.h52xdmf -t -v {{file}}" }
test-fans = { cmd = "./run_tests.sh -n {{n}}", args = [
  { arg = "n", default = "2" }, # Number of threads
], cwd = "test" }

[package]
name = "fans"
version = "0.4.2"

[package.build]
backend = { name = "pixi-build-cmake", version = "0.3.*" }

[package.build.config]
extra-args = [
    "-DCMAKE_BUILD_TYPE=Release",
    "-DCMAKE_C_COMPILER=$PREFIX/bin/mpicc",
    "-DCMAKE_CXX_COMPILER=$PREFIX/bin/mpicxx",
#    "-DFANS_LIBRARY_FOR_MICRO_MANAGER=ON"
    ]

[package.build-dependencies]
cmake = "3.21.*"

[package.host-dependencies]
cmake = "3.21.*"
# hdf5 = { version = "*", build = "*openmpi*" } # does not work
# hdf5 = { version = "*", build = "* mpi_openmpi*" } # works, but why whitespace?
hdf5 = { version = "1.14.*", build = "*openmpi*" } # works
# hdf5 = {build = "*openmpi*" } # does not work
# hdf5 = { version = "*"} # works, but nompi, obviously...
fftw = { version = "*", build = "* mpi_openmpi*" } # works
#fftw = { version = "3.3.*", build = "*openmpi*" } # works
openmpi-mpicxx = "*"
eigen = "*"
