[workspace]
channels = ["conda-forge"]
name = "FANS"
platforms = ["linux-64", "linux-ppc64le", "linux-aarch64", "osx-arm64", "osx-64"]
preview = ["pixi-build"]

[dependencies]
fans = { path = "." }

[feature.dashboard.dependencies]
python = ">=3.14.0,<3.15"
pytest = ">=8.4.2,<9"
pre-commit = ">=4.3.0,<5"
sympy = ">=1.14.0,<2"
quaternion = ">=2024.0.12,<2025"
beartype = ">=0.22.3,<0.23"
ipykernel = ">=7.0.1,<8"
time = ">=1.9,<2"

[feature.dashboard.pypi-dependencies]
fans-dashboard = { path = "FANS_Dashboard", editable = true }
MSUtils = {git = "https://github.com/DataAnalyticsEngineering/MSUtils.git"}
pyrecest = {git = "https://github.com/FlorianPfaff/pyRecEst.git"}

[feature.dashboard.tasks]
pytest = "pytest -v -s"
precommit = "pre-commit run --all-files"

[feature.dashboard.tasks.h52xdmf]
args = ["file", { arg = "extra", default = "" }]
cmd  = "cd \"$INIT_CWD\" && python -m MSUtils.general.h52xdmf {{ extra }} {{ file }}"

[feature.dev.dependencies]
cmake = ">=4.1.2,<5"
openmpi-mpicxx = ">=5.0.8,<6"
hdf5 = { version = ">=1.14.6,<2", build = "mpi_openmpi_*" }
fftw = { version = ">=3.3.10,<4", build = "mpi_openmpi_*" }
eigen = ">=3.4.0,<4"
nlohmann_json = ">=3.12.0,<4"
time = ">=1.9,<2"

[tasks]
test = { cmd = "pytest -v -s --from-pixi", cwd = "test/pytest", depends-on = ["test-fans"] }
test-fans = { cmd = "./run_tests.sh -n {{n}}", args = [
  { arg = "n", default = "2" }, # Number of threads
], cwd = "test" }

[environments]
default   = { features = ["dashboard"]}
dashboard = { features = ["dashboard"], no-default-feature = true }
dev       = { features = ["dev"],       no-default-feature = true }

################## Pixi build part ##################

[package]
name = "fans"
version = "0.5.0"

[package.build]
backend = { name = "pixi-build-cmake", version = "*" }

[package.build.config]
extra-args = [
    "-DFANS_LIBRARY_FOR_MICRO_MANAGER=ON",
    ]

[workspace.target.osx-arm64.build-variants]

[workspace.target.linux-64.build-variants]
cxx_compiler = ["clangxx"]

[package.build-dependencies]
cmake = "*"
pybind11 = "*"
pkg-config = "*"
ninja = "*"

[package.host-dependencies]
hdf5 = { version = "*", build = "* mpi_openmpi*" }
fftw = { version = "*", build = "* mpi_openmpi*" }
openmpi-mpicxx = "*"
eigen = "*"
nlohmann_json = "*"
