name: Build and test pixi-build
# Builds FANS for macOS and Ubuntu and runs the tests.
on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.3
        with:
          environments: default

      - name: Run pytest checks on HDF5 output
        run: pixi run test

      - name: Upload test logs
        uses: actions/upload-artifact@v5
        with:
          name: ${{ matrix.os }} test-logs
          path: test/output/*.log

      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: ${{ matrix.os }} PyTest logs
          path: |
            **/pytest*.xml
            **/.pytest_cache
