name: Build and test pixi-build
# Builds FANS for macOS and Ubuntu and runs the tests.
on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.event_name }}-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{github.event_name == 'pull_request'}}
jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up pixi
        uses: prefix-dev/setup-pixi@v0.9.0
        with:
          environments: default

      - name: Run custom test script
        run: |
          cd test
          ./run_tests.sh -n 2
        shell: pixi run bash -e {0}

      - name: Run pytest
        run: |
          cd test/pytest
          pytest -v -s --from-pixi
        shell: pixi run bash -e {0}

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        with:
          name: test-logs
          path: test/*.log

      - uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: ${{ matrix.os }} PyTest logs
          path: |
            **/pytest*.xml
            **/.pytest_cache
